/* ******************* Custom Properties ******************* */

:root {
    --first-color: ;
    --first-alpha-color: ;
    --second-color: ;
    --second-alpha-color: ;

    --link-color: rgb(230, 226, 218);
    --link-alpha-color: ;

    --bg-color: rgb(0,0,0);
    --bg-alpha-color: ;


}


/* ******************* Reset Styles ******************* */

body {
    font-family: "Urbanist", sans-serif;
    background-color: var(--bg-color);
}

a {
    color: white ;
}

a:hover {
    color: var(--link-color);
}

/* ******************* Bootstrap Styles ******************* */

.bg-dark {
    background-color: var(--bg-color) !important;
}

.navbar-dark .navbar-toggler{  
    --bs-navbar-color: rgba(0, 0, 0);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
    text-transform: uppercase ;
}

.btn {
     --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}



/* ******************* My Styles ******************* */

.cartel {
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.5s;
    
}

.cartel:hover {
    opacity: 90%;
    cursor: pointer;
}


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    /* footer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
    } */
} 